/* static/css/admin.css */

body {
    font-family: Arial, sans-serif;
    background-image: url("../img/background2.JPG");
    background-size: cover;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

h1, h2 {
    text-align: center;
    color: #999;
}

form, #book-status, #author-status {
    max-width: 300px;
    padding: 20px;
    background-color:  #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    top: 100px;
    width: 300px;
    margin: 0 auto;
    position: absolute;
}

.forms-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    top: 20px;
}

#add-book-form{
    left: 150px;
}

#add-author-form{
    right: 150px;
}

#book-status{
    left: 360px;
}

#author-status{
    right: 300px;
}

#book-status, #author-status {
    background-color: transparent;
    box-shadow: none;
    color: #ddd;
    max-height: 700px;
    overflow-y: auto;

}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="float"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

p {
    text-align: center;
    margin-top: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.signout-link {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
}
