body {
    background-image: url('../img/background2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
}

.navbar {
    position: relative;
}

.menu {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 40px;
}

.menu-item {
    color: blue;
    text-decoration: none;
    font-size: 24px;
    margin: 0 20px;
    white-space: nowrap;
}

.menu-item:hover {
    text-decoration: underline;
}

.menu.show {
    display: flex;
}

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

/* Centering the content */
.center {
    text-align: center;
    margin-top: 50px;
    position: relative; /* Add this line */
    z-index: 999;
}

/* Styling for the statement */
h2 {
    font-size: 32px;
    color: #333;
}
/* Styling for the description */
p {
    font-size: 18px;
    color: #666;
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto;
}


.content {
    position: absolute;
    top: 50%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%); /* Center the content */
    background-color: rgba(255, 255, 255, 0.7); /* Adjust transparency (0.7 here) */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add a shadow for depth */
    max-width: 80%; /* Adjust width as needed */
}
