body {
    background-image: url('../img/background2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
}

.navbar {
    position: relative;
}

.menu {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 40px;
}

.menu-item {
    color: black;
    text-decoration: none;
    font-size: 16px;
    margin: 0 20px;
    white-space: nowrap;
}

.menu-item:hover {
    text-decoration: underline;
}

.menu.show {
    display: flex;
}

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}
