body {
    background-image: url('../img/background2.jpg');
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

h1 {
    text-align: center;
    color: #999;
}

h2 {
    text-align: center;
    color: #555; 
}

form, #book-results, #add-review-status, #get-reviews-results, #delete-review-status {
    width: 300px; 
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="number"],
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.home-link, .signout-link {
    position: absolute;
    top: 20px;
    color: white;
}

.home-link { left: 20px; }
.signout-link { right: 20px; }


#search-book-form, #book-results, #get-reviews-form, #get-reviews-results {
    top: 100px; /* Adjusted to align with the top of the forms */
}

#add-review-form, #delete-review-form, #add-review-status, #delete-review-status{
    top: 380px;
}

#search-book-form, #add-review-form {
    left: 20px;
}

#get-reviews-form, #delete-review-form {
    right: 20px;
}

#book-results,#add-review-status{
    left: 360px;
    background-color: transparent;
    box-shadow: none;
    color: #ddd;
}

#get-reviews-results, #delete-review-status{
        right: 360px;
        background-color: transparent;
        box-shadow: none;
        color: #ddd;
}
