<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>
    <a href="/" class="home-link">Home</a>
    <a href="{{ url_for('routes.logout') }}" class="signout-link">Sign Out</a>
    <h1>Welcome, Admin!</h1>
    <div class="forms-container">
        <form id="add-book-form" onsubmit="addBook(event)">
	    <h2>Add New Book</h2>
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" required><br>
            <label for="description">Description:</label><br>
            <textarea id="description" name="description"></textarea><br>
            <label for="type">Type:</label><br>
            <input type="text" id="type" name="type"><br>
            <label for="rate">Rate:</label><br>
            <input type="number" id="rate" name="rate" min="0" max="10" step="0.1"><br>
            <label for="author_id">Author ID:</label><br>
            <input type="number" id="author_id" name="author_id" required><br><br>
            <button type="submit">Add Book</button>
        </form>
        <form id="add-author-form" onsubmit="addAuthor(event)">
            <h2>Add New Author</h2>
            <label for="author_name">Name:</label><br>
            <input type="text" id="author_name" name="name" required><br>
            <label for="author_description">Description:</label><br>
            <textarea id="author_description" name="description"></textarea><br>
            <label for="author_rate">Rate:</label><br>
            <input type="number" id="author_rate" name="rate" min="0" max="10" step="0.1"><br>
            <button type="submit">Add Author</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
i
