<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
</head>
<body>

    <h1>User Dashboard</h1>
    <form id="search-book-form" onsubmit="searchBooks(event)">
	<h2>Book Search</h2>
        <label for="query">Search for books:</label><br>
        <input type="text" id="search-query" placeholder="Enter book name...">
        <button type="submit">Search</button>
    </form>
    <div id="book-results">
        <!-- Display search results here -->
    </div>
    <script src="{{ url_for('static', filename='js/user.js') }}"></script>

    <a href="/" class="home-link">Home</a>
    <a href="{{ url_for('routes.logout') }}" class="signout-link">Sign Out</a>
    <h1 id="welcome-message">Welcome, User!</h1>
    
    <!-- Form to get reviews -->
    <form id="get-reviews-form" onsubmit="getReviews(event)">
	<h2>Get Reviews</h2>
        <label for="book_id">Book ID:</label><br>
        <input type="number" id="book_id" name="book_id" required><br><br>
        <button type="submit">Get Reviews</button>
    </form>
    
    <!-- Form to add review -->
    <form id="add-review-form" onsubmit="addReview(event)">
	<h2>Add Review</h2>
        <label for="book_id">Book ID:</label><br>
        <input type="number" id="book_id" name="book_id" required><br>
        <label for="content">Review Content:</label><br>
        <textarea id="content" name="content" required></textarea><br><br>
        <button type="submit">Add Review</button>
    </form>
    
    <!-- Form to delete review -->
    <form id="delete-review-form" onsubmit="deleteReview(event)">
	<h2>Delete Review</h2>
        <label for="review_id">Review ID:</label><br>
        <input type="number" id="review_id" name="review_id" required><br><br>
        <button type="submit">Delete Review</button>
    </form>
    
    <!-- Include script.js -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
